@font-face {
  font-family: 'Baloo Bhai';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ZgNWjP5GM7bCUdmXgWyVvGLONg.eot)/*tpa=https://fonts.gstatic.com/s/baloobhai/v7/ZgNWjP5GM7bCUdmXgWyVvGLONg.eot*/;
}
